/*CSS document*/

body {
	background: #F2F2F2;
	font-style: normal;
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 400;
}

div.container {
	max-width: 60em;
	margin: auto;
	padding: .5em;
}

h1 {
	margin: auto;
	align-content: center;
	max-width: 7em;
	padding-top: .7em;
}

header {
	padding-bottom: 1.5em;
	padding-top: .8em;
}

article {
	padding: .7em;
}

figure {
	margin: 0;
	padding-top: .4em;
}

img {
	width: 100%;
	display: block;
}

nav,
.top,
a:hover,
.clicked {
	color: #528540;
}

ul {
	list-style-type: none;
	text-align: center;
	padding: .2em;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: #0D0D0D;
}

nav ul li {
	display: inline;
	font-style: normal;
	font-size: 1.2em;
	text-transform: lowercase;
	padding: 1.5em;
}

nav ul li a {
	text-decoration: none;
	color: #0D0D0D;
}

main.home h2 {
	font-size: 1.7em;
	text-transform: lowercase;
}

main.home h3 {
	margin-top: .5em;
	margin-bottom: .5em;
}

h3 {
	text-transform: lowercase;
	font-weight: 600;
	font-size: 1.6em;
}

div.topstory h2 {
	text-transform: lowercase;
	font-size: 2.2em;
	margin-bottom: .3em;
	margin-top: .3em;
	color: #528540;
}

div.topstory p {
	font-size: 1.2em;
	padding-right: .85em;
	margin-top: .5em;
	margin-bottom: .5em;
}

figcaption {
	padding-top: .5em;
	padding-bottom: .5em;
	font-size: 1.1em;
	font-weight: 100;
	font-style: italic;
}

section {
	font-size: 1em;
	margin-bottom: 2em;
}

section.mainstory p {
	padding-right: 1em;
	font-size: 1.1em;
}

section.secondary {
	background: #E8EBEE;
	padding: .6em;
}

p {
	font-size: .9em;
	line-height: 1.5em;
	font-weight: 300;
}

footer {
	font-weight: 300;
	padding-top: 2em;
	font-style: italic;
}

aside {
	padding: 1em;
}

section.sub h3 {
	margin-top: auto;
	margin-bottom: auto;
}

section.mainstory {
	background: #D5DEDA;
	padding: .8em;
}

div.teasers section {
	padding: 1em;
	background: #E8EBEE;
}

div.teasers section h3,
p {
	margin-top: .5em;
	margin-bottom: .5em;
}

input:nth-of-type(1):checked~main figure:nth-of-type(1),
input:nth-of-type(2):checked~main figure:nth-of-type(2),
input:nth-of-type(3):checked~main figure:nth-of-type(3),
input:nth-of-type(4):checked~main figure:nth-of-type(4),
input:nth-of-type(5):checked~main figure:nth-of-type(5),
input:nth-of-type(6):checked~main figure:nth-of-type(6),
input:nth-of-type(7):checked~main figure:nth-of-type(7),
input:nth-of-type(8):checked~main figure:nth-of-type(8) {
	opacity: 1;
}

main.photogallery {
	position: relative;
	overflow: hidden;
	padding-bottom: calc(72% + 1em);
}

input {
	display: none;
}

div.gallery nav {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0.3em;
	padding-top: .5em;
}

div.gallery figure {
	width: calc(100%-2em);
	position: absolute;
	opacity: 0;
	transition: opacity .6s;
	margin: 0;
}

div.gallery figcaption {
	margin-top: 1em 0;
	text-transform: capitalize;
}

div.gallery p {
	padding-top: 1.4em;
	line-height: 1.6em;
	font-size: 1em;
}

@media screen and (min-width:60em) {
	div.container {
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 0 1em;
	}
	header,
	footer {
		grid-column: 1/3;
	}
	main {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1em;
		grid-column: 1/2;
	}
	section.mainstory {
		grid-column: 1/4;
	}
	section.sub {
		display: grid;
	}
	.gallery {
		grid-column: 1/3;
	}
	h3.aside {
		margin-top: 0em;
	}
}
