/*CSS DOCUMEMNT*/

background{
    color: #E9ECF2;
}

body{
    font-family: sans-serif;
    color: #787D7D;
    text-transform: lowercase;
    padding-bottom: 9em;
}

h1{
    font-size: 4.1em;
    color: #735D58;
    letter-spacing: .05em;
    padding-top: 2em;
    text-align: center;

}

h2{
    font-size: 2em;
    letter-spacing: .05em;
    color: #735D58;
    text-align: center;
    margin-bottom: 1.5em;
}


h3{
    font-size: 1.6em;
    color: #A68D85;
    letter-spacing: .05em;
    padding-top: .8em;
    padding-bottom: .2em;
    margin-left: .1em;
}

h4{
    font-size: 1em;
    margin-left: .4em; 
}

p{
    font-size: 1em;
    margin-left: .3em;
    margin-right: .3em;
}

ul{
    list-style: none;
    font-size: 1.1em;
}

.price{
    font-size: 1em;
    font-style: italic;
    padding-bottom: .8em;
}

