/*CSS document*/

body {
	background: #F2F2F2;
	font-style: normal;
	font-family: montseratt, sans-serif;
	font-weight: 400;
}

div.container {
	max-width: 40em;
	margin: auto;
	padding: .5em;
}

h1 {
	margin: auto;
	align-content: center;
	max-width: 7em;
	padding-top: .7em;
}

article {
	padding: .7em;
}

figure {
	margin: 0;
	padding-top: .4em;
}

img {
	width: 100%;
	display: block;
}

nav a:hover,
.clicked {
	color: #528540;
}

ul {
	list-style-type: none;
	text-align: center;
	padding: .2em;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: #0D0D0D;
}

nav ul li {
	display: inline;
	font-style: normal;
	font-size: .85em;
	text-transform: lowercase;
	padding: 1.3em;
}

nav ul li a {
	text-decoration: none;
	color: #0D0D0D;
}

h2,
h3 {
	line-height: 1.4em;
	text-transform: capitalize;
}

h2 {
	font-size: 1.3em;
	color: #528540;
}

h3 {
	font-weight: 600;
	font-size: 1.2em;
}

figcaption {
	padding-top: .7em;
	font-size: .75em;
	font-weight: 300;
	font-style: italic;
}

section {
	font-size: 1em;
	padding: .6em;
}

hr.grey {
	border-top: 3px solid #D9D9D9;
	margin-bottom: 1.5em;
	max-width: 20em;
}

p {
	font-size: .8em;
	line-height: 1.4em;
	font-weight: 300;
}

footer {
	font-weight: 300;
	padding-top: 2em;
	font-style: italic;
}

div.teasers {
	padding-top: 1em;
}

input:nth-of-type(1):checked~main figure:nth-of-type(1),
input:nth-of-type(2):checked~main figure:nth-of-type(2),
input:nth-of-type(3):checked~main figure:nth-of-type(3),
input:nth-of-type(4):checked~main figure:nth-of-type(4),
input:nth-of-type(5):checked~main figure:nth-of-type(5),
input:nth-of-type(6):checked~main figure:nth-of-type(6),
input:nth-of-type(7):checked~main figure:nth-of-type(7),
input:nth-of-type(8):checked~main figure:nth-of-type(8) {
	opacity: 1;
}

main {
	position: relative;
	overflow: hidden;
	padding-bottom: calc(72% + 3em);
}

input {
	display: none;
}

div.gallery nav {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0.3em;
	padding-top: .5em;
}

div.gallery figure {
	margin: 0;
	width: calc(100%-2em);
	position: absolute;
	opacity: 0;
	transition: opacity .6s;
	padding-top: 1.5em;
}

div.gallery figcaption {
	margin: 1em 0;
	text-transform: capitalize;
}

div.gallery p {
	padding-top: 2em;
	line-height: 1.7;
	font-size: .9em;
}
